/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --red: #e63946;
  --blue: #1d3557;
  --liteblue: #457b9d;
  --font1: "Fauna One", serif;
  --font2: "Playfair Display", serif;
  --font3: "Raleway", sans-serif;
  --font4: "Roboto", sans-serif;
}
/* Scrollbar Color Change */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--blue);
}
body {
  background-color: var(--white);
}
/* Navbar Section */
.navbar {
  background-color: var(--white) !important;
}
.navbar .navbar-brand img {
  margin: 0;
  height: 40px;
}
.navbar .nav-link {
  font-weight: 600;
  font-size: 15px;
  font-family: var(--font4);
  text-transform: uppercase;
  letter-spacing: 0.1px;
  margin: 0px 5px;
  color: var(--blue) !important;
}
.navbar .nav-link:hover {
  color: var(--red) !important;
}
.navbar .navbar-toggler {
  outline: none !important;
  border: none !important;
}
.navbar .fa-bars {
  color: var(--blue);
}
/* Home Section */
.home-section {
  background: linear-gradient(rgb(0, 0, 0, 0.5), #1d3557),
    url(./assets/homeimg.jpg);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.home-section {
  display: flex;
  justify-content: center;
}
.home-section .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-section h1 {
  margin: 0;
  font-size: 80px;
  font-weight: 700;
  font-family: var(--font2);
  color: var(--white);
  padding-bottom: 10px;
}
.home-section p {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  font-family: var(--font1);
  color: var(--white);
  padding-bottom: 15px;
}
.home-section p span {
  color: var(--white);
}
.home-section .btn1 {
  padding: 5px 20px;
  background-color: var(--red);
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font4);
  font-weight: 500;
  letter-spacing: 0.1px;
  outline: none;
  border-radius: 12px;
  transition-duration: 0.4s ease;
  cursor: pointer;
  margin-right: 15px;
  border: none;
  text-decoration: none;
  list-style-type: none;
}
.home-section .btn1:hover {
  background: none;
  border: 1px solid var(--red);
}
.home-section .btn2 {
  padding: 5px 20px;
  outline: none;
  border: none;
  border: 1px solid var(--red);
  border-radius: 12px;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font4);
  font-weight: 500;
  letter-spacing: 0.1px;
  transition-duration: 0.4s ease;
  cursor: pointer;
  background: none;
  text-decoration: none;
  list-style-type: none;
}
.home-section .btn2:hover {
  border: none;
  background-color: var(--red);
}

/* About Section */
.about-section {
  padding-top: 70px;
  padding-bottom: 50px;
}
.about-title {
  margin: 0;
  text-align: center;
  color: var(--blue);
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  font-family: var(--font2);
  padding-bottom: 20px;
}
.about-title::before {
  content: "";
  background: var(--red);
  height: 5px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(40px);
}
.about-desc {
  margin: 0;
  text-align: center;
  font-size: 15px;
  font-family: var(--font4);
  padding-bottom: 20px;
  color: var(--liteblue);
}
#more-text {
  margin: 0;
  display: none;
}
#read-more-btn {
  color: var(--blue);
  font-weight: 500;
}
#read-more-btn:hover {
  color: var(--blue);
  cursor: pointer;
}
.about-sub1 {
  margin: 0;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  color: var(--blue);
  font-family: var(--font3);
  padding-bottom: 10px;
}
.about-sub1 .span1 {
  color: var(--red);
  font-weight: 700;
}
.about-sub2 {
  margin: 0;
  text-align: center;
  font-size: 20px;
  color: var(--blue);
  font-weight: 500;
  font-family: var(--font1);
  padding-bottom: 20px;
}
.about-sub2 .span2 {
  color: var(--red);
}
/* Feature Icon Section */
.features-title {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color: var(--blue);
  text-transform: uppercase;
  font-family: var(--font2);
  padding-bottom: 30px;
}
.features-title-span {
  color: var(--blue);
}
.features-title::before {
  content: "";
  background: var(--red);
  height: 5px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(40px);
}
.feature-box {
  margin: 0;
  text-align: center;
}
.feature-box p {
  margin: 0;
  font-size: 10px;
  font-weight: 700;
  color: var(--blue);
  font-family: var(--font4);
}
/* Counter Section */
.counter-section {
  background-color: var(--red);
}
.counter-box h3 {
  margin: 0;
  padding-top: 30px;
  text-align: center;
  color: var(--white);
  font-size: 40px;
  font-family: var(--font1);
}
.counter-box p {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-family: var(--font2);
  color: var(--white);
  padding-bottom: 20px;
}
/* Services Section */
.service-section {
  padding-top: 70px;
}
.service-title {
  margin: 0;
  text-align: center;
  font-weight: 500;
  color: var(--blue);
  font-size: 30px;
  text-transform: uppercase;
  font-family: var(--font2);
  padding-bottom: 20px;
}
.service-title::before {
  content: "";
  background: var(--red);
  height: 5px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(40px);
}
.service-box {
  text-align: center;
  background-color: var(--blue);
  margin-bottom: 32px;
}
.servicebox-title {
  margin: 0;
  padding-top: 10px;
  font-size: 15px;
  font-weight: 500;
  color: var(--white);
  font-family: var(--font4);
  text-transform: uppercase;
}
.servicebox-desc {
  margin: 0;
  padding-top: 10x;
  font-size: 12px;
  font-family: var(--font3);
  padding-left: 5px;
  padding-right: 5px;
  color: var(--white);
  padding-bottom: 20px;
}
.servicebox-btn {
  background: var(--red);
  outline: none;
  padding: 5px 10px;
  color: var(--white);
  font-family: var(--font4);
  text-transform: uppercase;
  margin-bottom: 20px;
  appearance: none;
  border: none;
  border-radius: 5px;
}
.servicebox-btn:hover {
  background: none;
  border: 1px solid var(--red);
  color: var(--white);
  appearance: none;
}
/* Testimonial Section */
.testimonial-title {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color: var(--blue);
  text-transform: uppercase;
  font-family: var(--font2);
  padding-top: 70px;
  padding-bottom: 20px;
}
.testimonial-title::before {
  content: "";
  background: var(--red);
  height: 5px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(40px);
}
/* Carousal Section */
.client-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.carousel-container {
  text-align: center;
  align-items: center;
}
.client-name {
  margin: 0;
  color: var(--blue);
  font-family: var(--font2);
  padding-bottom: 10px;
}
.client-desc {
  margin: 0;
  font-family: var(--font4);
  color: var(--liteblue);
  padding-bottom: 50px;
}
.carousel-indicators {
  left: 0;
  top: auto;
  bottom: -50px;
}
.carousel-indicators li {
  background: #000;
  width: 18px;
  height: 0px;
  border-radius: 50%;
  margin-bottom: 50px;
}
.carousel-indicators .active {
  background: var(--red);
}
/* Gallery Section */
.gallery-section {
  padding-top: 70px;
}
.gallery-title {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color: var(--blue);
  text-transform: uppercase;
  font-family: var(--font2);
  padding-bottom: 20px;
}
.gallery-title::before {
  content: "";
  background: var(--red);
  height: 5px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(40px);
}
.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-button {
  font-size: 18px;
  text-align: center;
  color: var(--blue);
  font-family: var(--font4);
  margin-right: 15px;
  margin-bottom: 20px;
  background: none;
  border: none;
}
.filter-button:hover {
  color: var(--red);
}
.gallery-product {
  margin-bottom: 32px;
}
/* Book Online Section */
.bookonline-section {
  padding-top: 70px;
  padding-bottom: 50px;
}
.bookonline-title {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color: var(--blue);
  text-transform: uppercase;
  font-family: var(--font2);
  padding-bottom: 20px;
}
.bookonline-title::before {
  content: "";
  background: var(--red);
  height: 5px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(40px);
}
.online-form {
  margin-bottom: 20px;
}
.online-form label {
  color: var(--blue);
  font-family: var(--font4);
}
.online-form i {
  color: var(--red);
}
.bookonline-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookonline-btn {
  background-color: var(--red);
  padding: 5px 50px;
  color: var(--white);
  font-family: var(--font4);
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 5px;
}
.bookonline-btn:hover {
  background: none;
  border: 1px solid var(--red);
  color: var(--red);
}
/* Location Section */
.location-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Footer Section */
.footer-section {
  background-color: var(--white);
  padding-top: 70px;
  padding-bottom: 50px;
}
.footer-left img {
  width: 100px;
  margin: 0;
  padding: 0;
}
.footer-left-desc {
  color: var(--blue);
  margin: 0;
  padding-top: 10px;
  font-size: 12px;
  font-family: var(--font4);
}
.contact-box p {
  color: var(--blue);
  margin: 0;
  padding-top: 10px;
  font-size: 15px;
  font-family: var(--font4);
}
.contact-box i {
  color: var(--red);
}
.footer-middle h3 {
  margin: 0;
  padding-top: 20px;
  font-size: 15px;
  color: var(--blue);
  font-family: var(--font4);
  text-transform: uppercase;
}
.network p {
  margin: 0;
  color: var(--blue);
  padding-top: 10px;
  font-family: var(--font4);
  font-size: 15px;
}
.network i {
  color: var(--red);
}
.footer-right h3 {
  margin: 0;
  font-size: 15px;
  color: var(--blue);
  font-family: var(--font4);
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 50px;
}
.newsletter-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter-btn {
  background-color: var(--red);
  color: var(--white);
  border: none;
  outline: none;
  text-transform: uppercase;
  font-family: var(--font4);
  padding: 7px 20px;
  border-radius: 5px;
  margin-left: 5px;
}
.main-footer {
  background-color: var(--blue);
}
.main-footer p {
  color: var(--white);
  margin: 0;
  text-align: center;
  font-family: var(--font4);
  padding: 20px;
}

/* Custom Media Query */
@media (max-width: 768px) {
  .feature-box {
    padding-bottom: 10px;
  }
}

@media (max-width: 320px) {
  .home-section h1 {
    padding-top: 15px;
  }
}
@media (max-width: 320px) {
  .home-section .btn1 {
    margin-left: 25px;
    margin-top: 15px;
  }
}
@media (max-width: 320px) {
  .home-section .btn2 {
    margin-left: 12px;
    margin-top: 15px;
  }
}
