*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
:root{
  --white: #ffffff;
  --orangered: #fd7c6e;
  --blue: #2f62a2;
  --blueberry: #6b7a8f;
  --orange: #f7882f;
  --yellow: #f7c331;
  --liteyellow: #dcc7aa;
  --font1: 'Fauna One', serif;
  --font2: 'Playfair Display', serif;
  --font3: 'Raleway', sans-serif;
  --font4: 'Roboto', sans-serif;
}
body{
  background-color: var(--white);
}
/* Navbar Section */
.navbar{
  background-color: var(--white) !important;
}
.navbar-brand img {
  margin: 0;
  height: 40px;
}
.nav-link {
  font-weight: 600;
  font-size: 15px;
  font-family: var(--font4);
  text-transform: uppercase;
  letter-spacing: 0.1px;
  margin: 0px 5px;
  color: var(--orange) !important;
}
.nav-link:hover {
  color: var(--yellow) !important;
}
.navbar-toggler{
  outline: none !important;
  border: none !important;
}
.fa-bars {
  color: var(--orange);
}
/* Home Section */
.home-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/pexels-vishnu-r-nair-1105666.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.home-section {
  display: flex;
  justify-content: center;
}
.home-section .container-fluid{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-section h1{
  margin: 0;
  font-size: 80px;
  font-weight: 700;
  font-family: var(--font2);
  color: var(--white);
  padding-bottom: 10px;
}
.home-section p{
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  font-family: var(--font1);
  color: var(--white);
  padding-bottom: 15px;
}
.home-section p span{
  color: var(--liteyellow);
}
.home-section .btn1{
  padding: 5px 2opx;
  background-color: var(--orange);
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font4);
  font-weight: 500;
  letter-spacing: 0.1px;
  outline: none;
  border-radius: 12px;
  transition-duration: 0.4s ease;
  cursor: pointer;
  margin-right: 15px;
}
.home-section .btn1:hover{
  background:none;
  border: 1px solid var(--yellow);
}
.home-section .btn2{
  padding: 5px 20px;
  outline: none;
  border: 1px solid var(--orange);
  border-radius: 12px;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font4);
  font-weight: 500;
  letter-spacing: 0.1px;
  transition-duration: 0.4s ease;
  cursor: pointer;
}
.home-section .btn2:hover{
  border: none;
  background-color: var(--yellow);
}

/* About Section */
.about-section{
  padding-top: 50px;
  margin-bottom: 50px;
}
.about-section .about-title{
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  font-family: var(--font2);
  padding-bottom: 20px;
}
.about-section .about-desc{
  margin: 0;
  text-align: center;
  font-size: 15px;
  font-family: var(--font4);
  padding-bottom: 20px;
}
#more-text{
  margin: 0;
  display: none;
}
#read-more-btn{
  color: var(--orange);
  font-weight: 500;
}
.about-section .about-sub1{
  margin: 0;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  font-family: var(--font3);
  padding-bottom: 10px;
}
.about-sub1 .span1{
  color: var(--orange);
  font-weight: 700;
}
.about-section .about-sub2{
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font1);
  padding-bottom: 20px;
}
.about-sub2 .span2{
  color: var(--orange);
}
/* Feature Section */
.features-title{
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  font-family: var(--font2);
  padding-bottom: 20px;
}
.feature-box{
  margin: 0;
  text-align: center;
}
.feature-box p{
  font-size: 10px;
  font-weight: 700;
  font-family: var(--font4);
}
.about-section .counter{
  border: 1px solid var(--orange);
}
.counter h3{
  margin: 0;
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
  font-family: var(--font4);
  color: var(--orange);
}
.counter p{
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-family: var(--font4);
  color: var(--orange);
  padding-bottom: 10px;
}

/* Custom Media Query */
@media (max-width: 320px) {
  .home-section h1 {
    padding-top: 15px;
  }
}
@media (max-width: 320px) {
  .home-section .btn1 {
    margin-left: 25px;
    margin-top: 15px;
  }
}
@media (max-width: 320px) {
  .home-section .btn2 {
    margin-left: 12px;
    margin-top: 15px;
  }
}