* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --orangered: #fd7c6e;
  --blue: #2f62a2;
  --blueberry: #6b7a8f;
  --orange: #f7882f;
  --yellow: #f7c331;
  --liteyellow: #dcc7aa;
  --font1: "Fauna One", serif;
  --font2: "Playfair Display", serif;
  --font3: "Raleway", sans-serif;
  --font4: "Roboto", sans-serif;
}
body {
  background-color: var(--white);
}
/* Navbar Section */
.navbar {
  background-color: var(--white) !important;
}
.navbar .navbar-brand img {
  margin: 0;
  height: 40px;
}
.navbar .nav-link {
  font-weight: 600;
  font-size: 15px;
  font-family: var(--font4);
  text-transform: uppercase;
  letter-spacing: 0.1px;
  margin: 0px 5px;
  color: var(--orange) !important;
}
.navbar .nav-link:hover {
  color: var(--yellow) !important;
}
.navbar .navbar-toggler {
  outline: none !important;
  border: none !important;
}
.navbar .fa-bars {
  color: var(--orange);
}
/* Home Section */
.home-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/homeimg.jpg);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.home-section {
  display: flex;
  justify-content: center;
}
.home-section .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-section h1 {
  margin: 0;
  font-size: 80px;
  font-weight: 700;
  font-family: var(--font2);
  color: var(--white);
  padding-bottom: 10px;
}
.home-section p {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  font-family: var(--font1);
  color: var(--white);
  padding-bottom: 15px;
}
.home-section p span {
  color: var(--liteyellow);
}
.home-section .btn1 {
  padding: 5px 2opx;
  background-color: var(--orange);
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font4);
  font-weight: 500;
  letter-spacing: 0.1px;
  outline: none;
  border-radius: 12px;
  transition-duration: 0.4s ease;
  cursor: pointer;
  margin-right: 15px;
}
.home-section .btn1:hover {
  background: none;
  border: 1px solid var(--yellow);
}
.home-section .btn2 {
  padding: 5px 20px;
  outline: none;
  border: 1px solid var(--orange);
  border-radius: 12px;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font4);
  font-weight: 500;
  letter-spacing: 0.1px;
  transition-duration: 0.4s ease;
  cursor: pointer;
}
.home-section .btn2:hover {
  border: none;
  background-color: var(--yellow);
}

/* About Section */
.about-section {
  padding-top: 50px;
  margin-bottom: 50px;
}
.about-title {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  font-family: var(--font2);
  padding-bottom: 20px;
}
.about-title::before {
  content: "";
  background: var(--orange);
  height: 5px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(40px);
}
.about-desc {
  margin: 0;
  text-align: center;
  font-size: 15px;
  font-family: var(--font4);
  padding-bottom: 20px;
}
#more-text {
  margin: 0;
  display: none;
}
#read-more-btn {
  color: var(--orange);
  font-weight: 500;
}
#read-more-btn:hover {
  color: var(--yellow);
  cursor: pointer;
}
.about-sub1 {
  margin: 0;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  font-family: var(--font3);
  padding-bottom: 10px;
}
.about-sub1 .span1 {
  color: var(--orange);
  font-weight: 700;
}
.about-sub2 {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font1);
  padding-bottom: 20px;
}
.about-sub2 .span2 {
  color: var(--orange);
}
/* Feature Icon Section */
.features-title {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  font-family: var(--font2);
  padding-bottom: 20px;
}
.features-title-span {
  color: var(--orange);
}

.features-title::before {
  content: "";
  background: var(--orange);
  height: 5px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(40px);
}
.feature-box {
  margin: 0;
  text-align: center;
}
.feature-box p {
  font-size: 10px;
  font-weight: 700;
  font-family: var(--font4);
}
/* Counter Section */
.counter-section {
  background-color: var(--liteyellow);
}
.counter-box h3 {
  margin: 0;
  padding-top: 30px;
  text-align: center;
  font-size: 40px;
  font-family: var(--font4);
  color: var(--orange);
}
.counter-box p {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-family: var(--font4);
  color: var(--orange);
  padding-bottom: 20px;
}
/* Services Section */
.service-title {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  font-family: var(--font2);
  padding-bottom: 20px;
}
.service-title::before {
  content: "";
  background: var(--orange);
  height: 5px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(40px);
}
.service-box {
  text-align: center;
  background-color: #2f62a2;
  margin-bottom: 32px;
}
.servicebox-title {
  margin: 0;
  padding-top: 10px;
  font-size: 15px;
  font-weight: 500;
  color: var(--white);
  font-family: var(--font4);
  text-transform: uppercase;
}
.servicebox-desc {
  margin: 0;
  padding-top: 10x;
  font-size: 12px;
  font-family: var(--font1);
  padding-left: 5px;
  padding-right: 5px;
  color: var(--white);
  padding-bottom: 20px;
}
.servicebox-btn {
  border: 1px solid var(--yellow);
  padding: 5px 10px;
  color: var(--white);
  margin-bottom: 20px;
}
/* Testimonial Section */
.testimonial-title {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  font-family: var(--font2);
  padding-bottom: 20px;
}
.testimonial-title::before {
  content: "";
  background: var(--orange);
  height: 5px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(40px);
}
/* Carousal Section */
.client-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.carousel-container {
  text-align: center;
  align-items: center;
}
.client-name {
  margin: 0;
}
.client-desc {
  margin: 0;
  padding-bottom: 50px;
}
.carousel-indicators {
  left: 0;
  top: auto;
  bottom: -50px;
}
.carousel-indicators li {
  background: #000;
  width: 18px;
  height: 0px;
  border-radius: 50%;
  margin-bottom: 50px;
}
.carousel-indicators .active {
  background: rebeccapurple;
}
/* Gallery Section */
.gallery-title {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  font-family: var(--font2);
  padding-bottom: 20px;
}
.gallery-title::before {
  content: "";
  background: var(--orange);
  height: 5px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(40px);
}
.button-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-button {
  font-size: 18px;
  border: 1px solid blue;
  border-radius: 5px;
  text-align: center;
  color: red;
  margin-right: 10px;
  margin-bottom: 20px;
}
.filter-button:hover {
  background-color: black;
}
.gallery-product {
  margin-bottom: 32px;
}
/* Book Online Section */
.bookonline-title {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  font-family: var(--font2);
  padding-bottom: 20px;
}
.bookonline-title::before {
  content: "";
  background: var(--orange);
  height: 5px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(40px);
}
.online-form{
  margin-bottom: 20px;
}
.bookonline-btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookonline-btn{
  text-align: center;
  background-color: red;
  padding: 5px 50px;
}
.bookonline-btn:hover{
  background-color: #000;
}
/* Contact Section */
.contact-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.location-box{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Custom Media Query */
@media (max-width: 320px) {
  .home-section h1 {
    padding-top: 15px;
  }
}
@media (max-width: 320px) {
  .home-section .btn1 {
    margin-left: 25px;
    margin-top: 15px;
  }
}
@media (max-width: 320px) {
  .home-section .btn2 {
    margin-left: 12px;
    margin-top: 15px;
  }
}
